* {
  box-sizing: border-box;
}

a {
  font-weight: bold;
  box-sizing: border-box;
  color: #4078C0;
  word-wrap: break-word;
}

body {
  font-family: "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif;
  font-size: 12pt;
  word-wrap: break-word;
  margin-top: 4%;
  background-image: url('bygning.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#box {
  margin: auto;
  min-width: 50%;
  width: 500px;
  max-width: 100%;
  padding: 10px;
  border: 10px solid black;
  border-radius: 20px;
  margin-bottom: 50px;
  background-color: #4078C0;
}


#box2 {
  margin:auto;
  min-width: 30%;
  width: 300px;
  max-width: 100%;
  padding: 10px;
  border: 10px solid black;
  border-radius: 20px;
  margin-bottom: 50px;
  background-color: #4078C0;

}

#kandimg{
  min-width: 10%;
  width: 300px;
  height: auto;

}


#box3{
  margin: auto;
  min-width: 30%;
  width: 300px;
  max-width: 100%;
  padding: 10px;
  border: 10px solid black;
  border-radius: 20px;
  margin-bottom: 50px;
  background-color: #4078C0;

}

h1 {
  text-align: center
}

h2 {
  text-align: center;
}

h3 {
  margin-bottom: 5px; 
}

b {
  font-size: smaller;
}

.centered-text {
  text-align: center;
}

.fixed-logo {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fixed-logo img {
  width: 200px; 
  height: auto; 
}

.left {
  position:relative;
  left: 5%;
}


.right {
  position:relative;
  right: 5%;
}

.kandidat {
  display: flex; 
  align-items: center; 
  margin: auto;
  min-width: 100%;
  width: 500px;
  max-width: 100%;
  padding: 10px;
  border: 2px solid red;
  border-radius: 20px;
  margin-bottom: 50px;
}

.kandidat img {
  min-width: 10%;
  width: 300px;
  height: auto;
}