

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {

    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif;
    font-size: 12pt;
    word-wrap: break-word;
    height: 100%;
    margin-top: 0%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background-image: url('bygning.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    font-family: Georgia, serif;
  }
  #textbox {
    margin:auto;

    padding: 10px;
    border-radius: 20px;
    padding: 10px;
    text-align: center

  }
  
  #box {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0%;
    margin-right: 0%;
    background-color: #A52A2A;
    opacity: 0.9;
    text-align: center;
  }
  
  .timeline {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 12px;
    background-color: #A52A2A;
    transform: translateX(-50%);
  }
  
  .event {
    position: relative;
    margin: 40px 0;
    display: flex;
    align-items: center;
  }
  
  a.content {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  a.content:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}




  .event.left .content {

    text-align: center;
    position: relative;
    margin-right: auto;
    margin-left: 0;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    width: 40%;
  }
  
  .event.right .content {
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: 0;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;

    width: 40%;
  }
  
  .event.mid .content {

    text-align: center;
    position: relative;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 15px;
    border-radius: 8px;
    width: 80%;
  }

  .event.back .content {

    text-align: center;
    position: relative;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 15px;
    border-radius: 8px;
    width: 20%;
  }


  .sndm .content{
    box-shadow: 10px 10px 10px  #0a5963;
  }

  .ar .content{
    box-shadow: 10px 10px 10px #39641c;
  }

  .best .content{
    box-shadow: 10px 10px 10px #A52A2A;
  }
  
  @media (max-width: 768px) {
    .timeline {
      width: 90%;
    }
  
    .event {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .event.left .content,
    .event.right .content,
    .ebemt.mid .content {
      margin: 20px 0;
      width: 90%;
    }
  

  }